/* stylesheet for Camellia Rd's website.*/

/**********************************************************************/
/* setting variables
/**********************************************************************/
:root {
	--primary-color: #ffffff;
	--secondary-color: #cbcbcb;
	--base-color: #9c7449;
	--highlight-color: #89af55;
	--text-dark: #434343;
}

/**********************************************************************/
/* generic styling for general html tags
/**********************************************************************/
body, html {
	width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
	padding: 50px 0;
}

.bg-primary {
	background-color: var(--primary-color) !important;
}

.bg-secondary {
	background-color: var(--secondary-color) !important;
}

/**********************************************************************/
/* for centered divs
/**********************************************************************/
.center-wrapper {
	top: 50%;
	left: 50%;
	margin: 0 auto;
	position: absolute;
	transform: translate(-50%, -50%);
}


/**********************************************************************/
/* styling for whenever we use the logo
/**********************************************************************/
#logo img {
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: 5px;
  margin-left: -76px;
}

/**********************************************************************/
/* styling for the navbar
/**********************************************************************/
.navbar {
  background: var(--primary-color);
  box-shadow: 0px 5px 30px #505151;
}

.nav-item a {
	color: white;
}

.nav-item {
  margin-right: 40px;
}

.nav-item2 {
  margin-right: 215px;
}

/**********************************************************************/
/* styling for the masthead (landing screen)
/**********************************************************************/
header.masthead {
  position: relative;
	width: 100%;
  min-height: 600px;
	margin-bottom: -10px;
  text-align: center;
	display: inline-block;
  color: white;
  background-image: url("../img/masthead.jpeg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

header.masthead .header-content {
	position: relative;
	width: 100%;
	min-height: inherit;
	padding: 75px 30px 25px;
	text-align: center;
}

header.masthead img {
	width: 240px;
	height: 72px;
}

/* Header masthead styling for window width more than 768px */
@media (min-width: 768px) {
	header.masthead {
		height: 100%;
		min-height: 600px; 
	}
  
	header.masthead .header-content {
		position: absolute;
		top: 48%;
		padding: 0 50px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%); 
	}
	
	header.masthead img {
		width: 320px;
		height: 97px;
	}
}

/**********************************************************************/
/* styling for info cards (formatting image and text content)
/**********************************************************************/
.info-secondary, .info-primary {
	text-align: center;
}

.gallery {
	left: 50%;
	max-width: 720px;
	height: auto;
	position: relative;
	transform: translate(-50%);
}

.gallery img {
	width: 100%;
}

@media (min-width: 768px) {
	.gallery {
		
	}
	
	/* text is on the left, images on the right */
	div.info-primary {
		text-align: left;
	}

	/* text is on the right, images on the left */
	div.info-secondary {
		text-align: right;
	}
}

/**********************************************************************/
/* styling for footer
/**********************************************************************/
footer {
	width: 100%;
	background: var(--primary-color);
	color: var(--text-dark);
}

.footer-content {
	font-size: 15px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.fa-map-marker {
	color: #ff0000;
	font-size: 30px;
}

.fa-map-marker:hover {
	cursor: pointer;
}

.social-media-icon {
	font-size: 30px;
	width: 30px;
	color: var(--text-dark);
}

.social-media-icon:hover {
	color: var(--highlight-color);
}

#cp-text {
	width: 100%;
	text-align: center;
}
